@charset "UTF-8";



/* 헤더 아래 따로 있는 거임.. 오해 하지 말 좌 */
.full-border{width: 100%; border-bottom: 1px solid #d2d2d2; position: relative; top:124px}

article.page-title{height: 124px;}
article.page-title h2{ font-size: 36px; line-height: 124px;}

article.makePj{}
article.makePj p.write{font-size: 20px; height: 80px; line-height: 80px;}
article.makePj p.write em{}
article.makePj ul.makePj-list{}
article.makePj ul.makePj-list>li{width: 100%; padding: 20px; border: 1px solid #d2d2d2; box-sizing: content-box;}
article.makePj ul.makePj-list>li:nth-child(2n){border-top:none; border-bottom: none;}
/* 리스트가 1개만있는 경우 last-child가 더 잘 먹힘 -> last를 더 먼저 써줌 */
article.makePj ul.makePj-list>li:last-child{ border-radius: 0 0 10px 10px ; border-bottom:1px solid #d2d2d2;}
article.makePj ul.makePj-list>li:first-child{ border-radius: 10px 10px 0 0 ;}
article.makePj ul.makePj-list ul{display: flex; align-items: center; }
article.makePj ul.makePj-list ul>li{}
div.makePj-img{width: 155px; height: 120px; background: #d2d2d2; margin-right:20px;}
div.makePj-img img{width: 100%;}
article.makePj ul.makePj-list ul>li p.ptitle{font-size: 20px; color: #333; font-weight: 500; margin-bottom: 5px;}
article.makePj ul.makePj-list ul>li span{color: #838383; font-size: 14px;}
article.makePj ul.makePj-list .pjState{margin-left:auto ;}
article.makePj ul.makePj-list .pjState button{cursor: pointer; padding: 10px 20px; border-radius: 6px; border: 1px solid #d2d2d2; background: #fff; color: #686868;font-size: 16px; margin-left: 10px;} 



